<!DOCTYPE html>
{% load static %}
<html>
<head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'navbar.html' %}
        <div class="col-sm-12" style="height: 48em;background-color: #2A363B">
                <div class="row">
                <div class="col-sm-6">
                <h1 style="text-align: left;padding-top:2em;padding-left: 2em;color:#FF847C">Contact me</h1>
                <form>
                        <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                              </div>

                        <div class="form-group">
                                <label for="exampleFormControlTextarea1">Send Me an email</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                              </div>
                        <button id="buttonsend"type="buttons" class="btn btn-secondary">Send a message</button>
                </form>
                </div>

                <div class="col-sm-6">
    
                </div>
            </div>

            <div class="footercontact" >
        <div class="row">
        <div class="col-sm-6" style="height: 17.8em;background-color:#FF847C">
    <ul class="list-unstyled">
      <li>
        <a id="link"href="{% url 'homepage:index' %}">Home</a>
      </li>
      <li>
        <a id="link"href="{% url 'homepage:aboutme' %}">About Me</a>
      </li>
      <li>
        <a id="link"href="{% url 'homepage:contact' %}">Contact</a>
      </li>
      <li>
          <a id="link"href="{% url 'homepage:resume' %}">Resume</a>
      </li>
    </ul>
  </div>
            
            
        <div class="col-sm-6" style="background-color:#FF847C">
        <ul class="list-1">
        <li>
            <a id="button_a"href="'mailto: heyitshanif@gmail.com'" class="btn btn-light btn-sm " role="button" aria-pressed="true"style="text-align: center">Send me an email</a>
        </li>
       <li>
    <div class="mb-5 flex-center" style="font-size: 48px;text-align: center; color: white;">

      <a class="fb-ic">
        <i class="fa fa-instagram"></i>
           </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fa fa-twitter"></i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fa fa-google-plus"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fa fa-linkedin-in "> </i>
      </a>
      <!--Github-->
      <a class="ins-ic">
        <i class="fa fa-github-square"> </i>
      </a>

    </div>
  
    </ul>
            </div>    
        
        </div>
        </div>

</body>
</html>