<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Jadwal</title>
    <style>
    
    .tag{
        color: black;
    }
    </style>
</head>
<body>
    <div class="">
        <div class="container-fluid bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left p-3">
                        <p>Schedules</p>
                    <div class="hline"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table tag">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Jam</th>
                        <th scope="col">Nama Kegiatan</th>
                        <th scope="col">Tempat</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Hapus</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{ schedule.date.date }}</td>
                                <td>{{ schedule.time}}</td>
                                <td>{{ schedule.activity }}</td>
                                <td>{{ schedule.place }}</td>
                                <td>{{ schedule.category }}</td>
                                <td><a class="btn btn-danger" href="{% url 'homepage:delete' schedule.id %}" >Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class= 'col-lg-2'>

                </div>
                <div class = 'col-lg-10'>
                    <div class = 'form-group'>
                        <a href="{% url 'homepage:schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
                        <a href="{% url 'homepage:schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>