<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Jadwal</title>
    
    </style>
</head>
<body>

    <div class="">
        <div class="container-fluid bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left p-3">
                        <p>Schedules</p>
                    <div class="hline"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form class="css" action="{% url 'homepage:schedule_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-10 tag">
                                {% for fields in form %}
                                    {{ fields.label_tag }}
                                    <br>
                                    {{ fields }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <input type="submit" class="btn btn-primary float-right" value="Add">
                        </div>
                    </form>                
                </div>
            </div>
</body>
</html>